// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Text styles */
h1 {
text-align: center;
  color: grey;
}

h2 {
  color: white;
}

table {
  color: white;
}

p{
  color: white;
}

/* background */

body {
  background-image: url("https://gatheringworld.files.wordpress.com/2012/02/magic-cores.jpg");
}